/*font-family: 'PT Sans', sans-serif;*/
body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*header start*/
header{
	background-color:#fcdb00;
	padding: 10px 0; 
}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color: #010101 !important ;
	text-transform: capitalize;
	padding: 0 52px !important;
	transition: .3s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/*header end*/

/*slide start*/
.car{
	bottom: -80px;
}
.car li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color:white;
}

.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
.slider-text{
	margin-top: 40px ;
}
.t-h1{
	font-weight: 700;
	font-size: 32px;
}
.t-h2{
	font-size: 20px;
	margin: 20px 0;
	color: #313841;
	line-height: 30px;
	
}
.slider-text p{
	color: #555555;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	word-spacing: 1px;
}
.icon li i{
	font-size: 40px;
	letter-spacing: 18px;
	transition: .3s;
}
.icon li i:hover{
	color: white;
	transform: scaleX(-1);
}

.custom-img{
	border-radius: 20px;
} 	
/*slide end*/

/*feature start*/
.feature, .blog{
	padding-top: 80px;
	padding-bottom: 100px;
}
.mt-70{
	margin-top: 60px;
}
.f-icon{
	font-size: 50px;
}
.f-content{
	margin-top: 9px;
}
.f-content h3{
	font-size: 22px;
}
.f-content p {
	color: #898989;
}
/*feature end*/

/*contant start*/
.blog{
	background-color: black;
}
.blog-t{
	color:#fcdb00; 
}
.ash{
	color: #898989;
}
.from{
	margin-top: 30px;
}
.from input{
	font-family: 'PT Sans', sans-serif;
	color: #010101 !important;
	width: 98%;
	height: 50px;
	border-radius: 5px;
}
.from input:focus{
	outline: 0;
	box-shadow: none;
	border: none;
}

.btn-custom{
	font-family: 'PT Sans', sans-serif;
	color: #010101 !important;
	font-weight: 700;
	background-color: #fcdb00;
	border-radius: 5px;
	text-transform: uppercase;
	transition: .3s;
	width: 95%;
	height: 50px;
}
.btn-custom:hover{
	color: #fcdb00 ;
	background-color:white  ;
}
.s_links{
	margin-top: 70px;
}
.s_links ul li{
	font-size: 36px;
	background-color: #fcdb00;
	width: 45px;
	transition: .8s;
	border-radius: 5px;
	margin: 0px 23px;

}
.s_links ul li a i{
	color: black;
}
.f-hover:hover{
	background-color: #228DEE;
	transform: scale(1.1);
}
.t-hover:hover{
	background-color:#1DA1F2;
	transform: scale(1.1);
}
.g-hover:hover{
	background-color:#EA4335;
	transform: scale(1.1);
}
.p-hover:hover{
	background-color:#AE2C2E;
	transform: scale(1.1);
}
footer{
	background-color: black;
	padding-bottom: 30px;
}
.list-1st ul li{
	color: #ffffff;
	font-size: 19px;
}
.list-2nd ul li a{
	color: #ffffff;
}
.list-2nd ul li a:hover{
	color: #fcdb00;
}

/*contant end*/

